body {
	padding-top: 130px;
}
ul.social-icons-mobile {
	display: block;
	text-align: center;
}	
	.navbar-toggle {
		margin-right: 0px;
		float: none;
	}
	.navbar-brand {
		width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 5px 5px;
        /*display: table;
        table-layout: fixed;*/
	}
	.ads {
		/*min-height: 100px;*/
	}
	.ads img {
		min-width: 50px;
		min-height: 60px;
	}
	.ads.navbar-brand {
		display: none;
	}
	.navbar-brand .logo {
		margin: 0 auto;
	}

	#main-menu {
		background-color: purple;
	    position: relative;
	    color: white !important;
	    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	    -webkit-transition: all .5s ease-in-out,padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    transition: all .5s ease-in-out,padding .5s ease-in-out;
	}
	#main-menu a{
		color: white ;
	}
	.navbar-toggle {
		margin-top: 30px;
	}
	.active>a{
		/*background-color: #0b060b;*/
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	    -webkit-transition: all .5s ease-in-out,padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    transition: all .5s ease-in-out,padding .5s ease-in-out;
	    color: black !important;
	}



	ul.nav li{
		border-bottom: 1px solid #777;
	}
	ul.nav li.dropdown ul li{
		border-top: 0px;
	}

	ul.social-icons-mobile li.search .sdd_search_form_wrap {
		display: block;
		width: 100%;
	}

	ul.social-icons-mobile li {
		width: 10%;
		display: inline-block;
	}

	ul.social-icons-mobile li.search {
		width: 100%;
	}

.sdd_search_form .sdd_search_btn {
	/*top: 30%;*/
}
ul.social-icons-desktop {
	display: none;
}
.carousel-caption {
	max-height: 100%;
}
.slide-show {
	height: auto;
} 
	.box-slide-1 {
		
	}
		.box-slide-1 .carousel-inner {
			height: auto;
		}
			.box-slide-1 .carousel-inner .item {
				height: 100%;
				max-height: 100%;
			}
				.box-slide-1 .carousel-inner .item img {
					min-height: 350px;
				}
@media screen and (max-width: 768px) {
	#footer ul {
		text-align: center;
	}
	#footer p {
		text-align: center;
	}
}
.thumnail {
	min-width: 80px;
}
#sdd_more_articles {
	width: 90%;
}
/*.title {
	font-size: 13px !important;
}*/

.subscribe .form-group {
		width: 100%;
	}
		.subscribe .form-group .form-control {
			width: 100%;
		}
		.subscribe .btn {
			width: 100%;
			margin: 0 auto;
		}

.content-sub-service {
	max-height: 200px;
	height: 200px;
}

.form-line {
	padding-bottom: 10px;
	border-bottom: 1px solid #B29999;
}

/*.block-inverse .sdd_module_3 {
	max-height: 300px;
	height: 300px;
}*/

.sdd_module_1 img {
	margin: 0px;
}

#lightbox .modal-content {
	margin: 0px;
	width: 100%;
}
#lightbox .modal-content .modal-body {
	width: 100%;
}

#lightbox .modal-dialog {
	width: auto !important;
}
#lightbox .modal-content img {
	min-height: 500px
	min-width: 100%;
	max-width: 100%;
	margin: 0 auto;
}
#lightbox .close {
	top: 0px;
    right: 0px;
}


/*menu đẹp..........................*/
.menu {
	display: none;
}
/*kết thúc menu đẹp*/